/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/reset.scss ***!
  \******************************************************************************************************************************************/
@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none;
  outline: none;
  color: white; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*****************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Bold.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Bold.woff") format("woff"), url("../assets/fonts/OceanwideStd Bold.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Light.eot");
  src: local("вє"), url("../assets/fonts/helvetica_light.woff") format("woff"), url("../assets/fonts/OceanwideStd Light.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Regular.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Regular.woff") format("woff"), url("../assets/fonts/OceanwideStd Regular.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.bg {
  background: url("../assets/img/about-me.jpeg") no-repeat;
  background-size: cover; }

.title {
  font-size: clamp(39.375px, 5.12195vw, 94.5px);
  line-height: 1.5;
  opacity: 0;
  animation: anim 1.4s forwards ease 0.5s;
  margin-bottom: 2.5rem;
  padding-left: 1.875rem; }

.intro__title {
  margin-top: 20vh;
  margin-bottom: 0; }

.intro__subtitle {
  padding-left: 1.875rem;
  font-size: clamp(13.75px, 1.78862vw, 33px);
  text-transform: uppercase;
  letter-spacing: 0.6em;
  opacity: 0;
  animation: anim 1.5s forwards ease 1s; }

/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/portfolio.scss ***!
  \**********************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Bold.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Bold.woff") format("woff"), url("../assets/fonts/OceanwideStd Bold.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Light.eot");
  src: local("вє"), url("../assets/fonts/helvetica_light.woff") format("woff"), url("../assets/fonts/OceanwideStd Light.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Regular.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Regular.woff") format("woff"), url("../assets/fonts/OceanwideStd Regular.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.portfolio__categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18.125rem);
  justify-content: center;
  grid-auto-rows: clamp(290px, 35vw, 800px);
  margin: 0 -15px 0 -15px; }
  .portfolio__categories a {
    display: block; }

.categorie {
  margin: 0 15px 30px 15px;
  overflow: hidden;
  display: block; }
  .categorie__element {
    height: 100%;
    transition: all 0.7s;
    position: relative; }
    .categorie__element.portraits {
      background: url("../assets/Portfolio__photos/Portraits/1.webp") 50% 20%/cover no-repeat; }
    .categorie__element.love-story {
      background: url("../assets/Portfolio__photos/Love_story/1.webp") 50% 20%/cover no-repeat; }
    .categorie__element.family {
      background: url("../assets/Portfolio__photos/Family/1.webp") 50% 20%/cover no-repeat; }
    .categorie__element.fashion {
      background: url("../assets/Portfolio__photos/Fashion/1.webp") 50% 20%/cover no-repeat; }
    .categorie__element:hover {
      transform: scale(1.1); }
      .categorie__element:hover .categories__title {
        display: none; }
      .categorie__element:hover .categories__title-wrapper {
        display: none; }

.categories__title-wrapper {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  transition: all 1s;
  font-size: 30px;
  color: white; }

.categories__title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  color: white;
  font-size: 1.875rem; }

.anim__wrapper1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 10;
  animation: photo_anim 1.6s ease-out 1.1s;
  animation-fill-mode: forwards; }

.anim__wrapper2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 10;
  animation: photo_anim 1.6s ease-out 1.4s;
  animation-fill-mode: forwards; }

.anim__wrapper3 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 10;
  animation: photo_anim 1.6s ease-out 1.7s;
  animation-fill-mode: forwards; }

.anim__wrapper4 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 10;
  animation: photo_anim 1.6s ease-out 2s;
  animation-fill-mode: forwards; }

/*!**********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/variables.scss ***!
  \**********************************************************************************************************************************************/

/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/about.scss ***!
  \******************************************************************************************************************************************/
.about__container {
  height: inherit;
  display: grid; }

.about__biography {
  max-width: 500px; }
  .about__biography-text {
    padding-left: 1.875rem;
    text-align: start;
    line-height: 2rem;
    font-size: 1rem; }
    .about__biography-text p {
      margin-bottom: 2rem; }
      .about__biography-text p:nth-child(1) {
        opacity: 0;
        transform: translateY(3rem);
        animation: anim 1.4s forwards ease 1.1s; }
      .about__biography-text p:nth-child(2) {
        opacity: 0;
        transform: translateY(3rem);
        animation: anim 1.5s forwards ease 1.4s; }
      .about__biography-text p:nth-child(3) {
        opacity: 0;
        transform: translateY(3rem);
        animation: anim 1.5s forwards ease 1.7s; }

.slider {
  padding: 2rem 2rem 0 2rem;
  min-height: 25rem;
  display: grid; }
  .slider__wrapper {
    max-width: 31.25rem;
    height: inherit;
    position: relative;
    opacity: 0;
    animation: fade 1s forwards ease 1.2s; }
  .slider__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slider__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    opacity: 0;
    animation: fade 2s forwards ease 2s; }
    .slider__arrow:first-child {
      left: -2rem; }
    .slider__arrow:last-child {
      right: -2rem; }

@media (min-width: 900px) {
  .about__container {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr; }
  .slider {
    display: grid;
    grid-template: 1fr/1fr [slider] 3fr 1fr; }
    .slider__wrapper {
      height: inherit;
      position: relative;
      grid-area: 1 / slider; } }

/*!***********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/animations.scss ***!
  \***********************************************************************************************************************************************/
.show {
  display: block; }

.hide {
  display: none; }

.fade {
  animation: fade 1.5s; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes anim {
  from {
    opacity: 0;
    transform: translateY(3rem); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes photo_anim {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/contacts.scss ***!
  \*********************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Bold.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Bold.woff") format("woff"), url("../assets/fonts/OceanwideStd Bold.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Light.eot");
  src: local("вє"), url("../assets/fonts/helvetica_light.woff") format("woff"), url("../assets/fonts/OceanwideStd Light.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Regular.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Regular.woff") format("woff"), url("../assets/fonts/OceanwideStd Regular.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.contacts__info {
  margin-bottom: 5rem;
  padding-left: 1.875rem;
  text-align: left; }
  .contacts__info h4 {
    opacity: 0;
    font-size: 1rem;
    margin: 0rem 0 1.875rem 0;
    animation: anim 1.5s forwards ease 1.1s; }
  .contacts__info p {
    margin-bottom: 0.625rem;
    font-size: 1rem; }
    .contacts__info p:nth-child(2) {
      opacity: 0;
      animation: anim 1.5s forwards ease 1.4s; }
    .contacts__info p:nth-child(3) {
      opacity: 0;
      animation: anim 1.5s forwards ease 1.7s; }

.form {
  display: block;
  padding: 0 30px;
  max-width: 43.75rem;
  justify-items: start; }
  .form__item {
    padding-right: 1.25rem;
    display: grid; }
    .form__item-big {
      grid-column: span 2;
      max-width: 87.5rem; }
      .form__item-big textarea {
        height: 10rem;
        resize: none; }
  .form__label {
    margin-bottom: 0.3125rem;
    font-size: 0.75rem; }
  .form__input {
    width: 15rem;
    margin-bottom: 1rem;
    padding: 0.9375rem;
    background: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1rem;
    transition: all .5s ease; }
    .form__input._error {
      background: rgba(250, 47, 61, 0.4);
      border: 2px solid #ff4040; }
    .form__input:focus:not(.form__input-error) {
      border: 2px solid white; }
  .form__error {
    height: 20px;
    color: red;
    text-transform: uppercase; }
  .form__submit {
    display: block;
    animation: anim 1.5s forwards ease 2.9s;
    opacity: 0;
    height: 3rem;
    width: 10rem;
    font-size: 1.125rem;
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: all .5s ease; }
    .form__submit:hover {
      background: white;
      color: black; }

#nameBlock {
  animation: anim 1.1s forwards ease 2s;
  opacity: 0; }

#phoneBlock {
  animation: anim 1.1s forwards ease 2.3s;
  opacity: 0; }

#textBlock {
  animation: anim 1.1s forwards ease 2.6s;
  opacity: 0; }

@media (min-width: 900px) {
  .contacts__info {
    text-align: start; }
  .contacts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    max-width: inherit; }
    .form__submit {
      justify-self: end;
      margin-bottom: 2.5rem;
      grid-column: span 2;
      animation: anim 1.5s forwards ease 1.4s; }
    .form__item-big {
      width: 41.25rem; }
      .form__item-big textarea {
        height: 10rem;
        resize: none;
        width: 36.25rem; }
  #nameBlock {
    animation: anim 1.5s forwards ease 1.1s;
    opacity: 0; }
  #phoneBlock {
    animation: anim 1.5s forwards ease 1.1s;
    opacity: 0; }
  #textBlock {
    animation: anim 1.5s forwards ease 1.4s;
    opacity: 0; } }

/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/mixins.scss ***!
  \*******************************************************************************************************************************************/

/*!*******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/global.scss ***!
  \*******************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Bold.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Bold.woff") format("woff"), url("../assets/fonts/OceanwideStd Bold.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Light.eot");
  src: local("вє"), url("../assets/fonts/helvetica_light.woff") format("woff"), url("../assets/fonts/OceanwideStd Light.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Regular.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Regular.woff") format("woff"), url("../assets/fonts/OceanwideStd Regular.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'OceanwideStd';
  color: white;
  font-weight: normal;
  background-color: black; }
  body._lock {
    overflow: hidden; }

.container {
  height: inherit;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  min-width: 100vw; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .header__menu {
    margin: 3.75rem 0 0 0;
    display: grid;
    grid-template-columns: minmax(2.5rem, 1fr) 1fr;
    align-items: center; }
  .header__wrapper {
    display: none;
    width: 1.875rem;
    height: 100%;
    justify-self: end;
    z-index: 50; }
  .header__burger-btn {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    position: relative; }
    .header__burger-btn:before, .header__burger-btn:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.125rem;
      background-color: white;
      transition: all 0.5s ease; }
    .header__burger-btn._active:before {
      transform: rotate(45deg);
      background-color: red;
      top: 50%; }
    .header__burger-btn._active:after {
      transform: rotate(-45deg);
      background-color: red;
      top: 50%; }
    .header__burger-btn._active span {
      transform: scale(0); }
    .header__burger-btn:before {
      top: 0; }
    .header__burger-btn:after {
      bottom: 0; }
    .header__burger-btn span {
      position: absolute;
      width: 100%;
      height: 0.125rem;
      top: 50%;
      transform: translate(0, -50%);
      background-color: white;
      transition: all 0.5s ease; }

.socials {
  z-index: 50; }
  .socials__inst {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: url("../assets/img/instIcon.svg") no-repeat; }

.nav__list {
  display: grid;
  grid-template-columns: repeat(4, 11.25rem);
  justify-items: center;
  justify-content: end;
  font-size: 1rem; }
  .nav__list li {
    margin-left: 3.75rem;
    transition: all 1s ease; }

.nav__link {
  position: relative;
  display: block;
  transition: all 0.4s ease; }
  .nav__link:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0.125rem;
    bottom: -0.625rem;
    left: 50%;
    background-color: white;
    transition: all 0.4s ease; }
  .nav__link:hover {
    color: #F2D5A0; }
  .nav__link:hover:after {
    width: 100%;
    left: 0; }

@media (max-width: 50rem) {
  .menu {
    margin-top: 2.5rem; }
  .nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 30;
    left: 0;
    opacity: 0;
    overflow: auto;
    transition: all 0.6s ease-out;
    pointer-events: none; }
    .nav._active {
      opacity: 1;
      pointer-events: all; }
    .nav._active .nav__item {
      transform: translate(0, 0);
      opacity: 1; }
    .nav__list {
      display: block;
      text-align: center;
      margin-top: 22vh;
      font-size: 2.5rem; }
      .nav__list li {
        margin: 0 0 3.75rem 0; }
  .header__wrapper {
    display: block; }
  .nav__item {
    transition: all 0.8s ease-out 0.3s;
    transform: translate(0, 3rem);
    opacity: 0; } }

section {
  margin-top: 10rem; }

.footer {
  margin: 2.5rem 0; }
  .footer__container {
    display: grid;
    justify-content: flex-end;
    align-items: center; }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.3; }

/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/admin.scss ***!
  \******************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Bold.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Bold.woff") format("woff"), url("../assets/fonts/OceanwideStd Bold.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Light.eot");
  src: local("вє"), url("../assets/fonts/helvetica_light.woff") format("woff"), url("../assets/fonts/OceanwideStd Light.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Regular.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Regular.woff") format("woff"), url("../assets/fonts/OceanwideStd Regular.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.bg__color {
  background-color: #1f1f1f;
  min-height: 100vh; }

.item {
  margin-top: 0.0625rem;
  grid-template-columns: min-content 5fr;
  padding: 1.0625rem 1.25rem;
  cursor: pointer;
  display: flex; }
  .item__icon {
    min-width: 1rem;
    display: block;
    left: 0;
    height: 1rem;
    width: 1rem; }
  .item span[data-categorie="main"] {
    background: url("../assets/img/main-icon.svg") no-repeat; }
  .item span[data-categorie="portfolio"] {
    background: url("../assets/img/portfolio-icon.svg") no-repeat; }
  .item span[data-categorie="about"] {
    background: url("../assets/img/about-icon.svg") no-repeat; }
  .item span[data-categorie="contacts"] {
    background: url("../assets/img/contacts-icon.svg") no-repeat; }
  .item span[data-categorie="messages"] {
    background: url("../assets/img/message-icon.svg") no-repeat; }
  .item span[data-categorie="statistic"] {
    background: url("../assets/img/statistic-icon.svg") no-repeat; }
  .item span[data-categorie="notifications"] {
    background: url("../assets/img/notifications-icon.svg") no-repeat; }
  .item._active {
    background-color: #35cda7;
    border: 1px solid #35cda7;
    border-radius: 18px; }
  .item-name {
    min-width: 6.3125rem;
    position: relative;
    padding-left: 1.25rem;
    transform: translateY(10%);
    display: none;
    opacity: 0; }

.panel::-webkit-scrollbar {
  display: none; }

.panel__intro {
  display: grid;
  justify-content: center; }
  .panel__intro-title {
    min-width: 11.25rem;
    font-size: 1.5rem;
    padding-left: 1.25rem;
    padding-top: 0.125rem;
    display: none; }
  .panel__intro-button {
    justify-self: end;
    background: url("../assets/img/arrow-show.svg") 50% no-repeat; }

.panel__wrapper {
  margin-top: 2.5rem; }

.pages {
  margin-bottom: 1.8em; }

.account {
  margin: 3.75rem auto 1.875rem auto;
  display: flex;
  justify-content: center; }
  .account__avatar {
    width: 2.5rem;
    height: 2.5rem;
    display: none; }
  .account__button {
    background: url("../assets/img/logout-icon.svg") 50% no-repeat; }
  .account .avatar {
    place-self: center;
    padding-left: 1.25rem; }
  .account__name {
    padding-left: 2.1875rem;
    font-size: 0.875rem;
    display: none; }

.admin__button {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(58, 58, 58, 0.5);
  border-radius: 0.9375rem;
  transition: all 0.4s; }
  .admin__button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #35cda7; }

.subtitle__categorie {
  color: #3f3f3f;
  font-weight: 600;
  font-size: 0.875rem;
  padding-left: 1.25rem;
  margin-bottom: 0.9em;
  opacity: 0; }

.other__item {
  color: #3f3f3f;
  cursor: default; }

.panel__inner {
  padding-left: 1.25rem; }

.admin {
  margin-top: 0; }
  .admin__panel {
    position: fixed;
    width: 6.875rem;
    overflow: auto;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(58, 58, 58, 0.5);
    padding-top: 4.375rem;
    padding-right: 1.875rem;
    transition: all 0.5s ease; }
    .admin__panel._active {
      width: 18.125rem;
      margin: 0 auto; }
    .admin__panel._active .panel__intro-button {
      background: url("../assets/img/arrow-hide.svg") 50% no-repeat;
      background-color: rgba(58, 58, 58, 0.5);
      transition: all 0.5s ease; }
    .admin__panel._active .intro {
      grid-template-columns: min-content 1fr;
      justify-content: space-between;
      align-items: center; }
    .admin__panel._active .item-name {
      animation: panel__names 0.2s ease 0.1s;
      animation-fill-mode: forwards;
      display: block; }
    .admin__panel._active .panel__intro-title,
    .admin__panel._active .subtitle__categorie,
    .admin__panel._active .account__name {
      display: block;
      opacity: 1; }
    .admin__panel._active .account__avatar {
      display: grid; }
    .admin__panel._active .account {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center; }
  .admin__content {
    margin: 4.25rem 0 0 17.5rem; }

.page__title {
  font-size: 3.4375rem;
  font-weight: 600; }

.fields__name {
  margin: 0 0 0.9375rem 0;
  color: #949494; }

.fields__item {
  margin-top: 3.75rem; }

.fields__input {
  display: inline-block;
  padding: 0.9375rem;
  height: 2.5rem;
  width: 18.75rem;
  border-radius: 0.9375rem;
  border: 2px solid #282828;
  color: white;
  background: #282828;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 400; }

.fields__input::placeholder {
  color: silver; }

.fields__input:focus {
  border: 2px solid rgba(65, 141, 255, 0.6); }

.btn {
  margin-left: 5px;
  vertical-align: top;
  display: inline-block;
  border-radius: 0.75rem;
  height: 2.5rem;
  width: 5.625rem;
  background: #418dff;
  color: white;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .4s ease; }

.btn:hover {
  box-shadow: 0 0 3px #418dff;
  transform: scale(1.05); }

.file {
  position: relative; }

#fieldImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer; }

.field__preview {
  margin-top: 15px;
  display: inline-block;
  width: 300px;
  height: 100px;
  border-radius: 10px; }

.field__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@keyframes panel__names {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*!*********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/portfolio_categories.scss ***!
  \*********************************************************************************************************************************************************/
@charset "UTF-8";
@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Bold.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Bold.woff") format("woff"), url("../assets/fonts/OceanwideStd Bold.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Light.eot");
  src: local("вє"), url("../assets/fonts/helvetica_light.woff") format("woff"), url("../assets/fonts/OceanwideStd Light.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Light.svg") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'OceanwideStd';
  src: url("../assets/fonts/OceanwideStd Regular.eot");
  src: local("вє"), url("../assets/fonts/OceanwideStd Regular.woff") format("woff"), url("../assets/fonts/OceanwideStd Regular.ttf") format("truetype"), url("../assets/fonts/OceanwideStd Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.portfolio_categorie__body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  grid-auto-rows: 18.75rem;
  gap: 2.5rem; }

@media (max-width: 25.9375rem) {
  .portfolio_categorie .portfolio_categorie__body {
    grid-auto-rows: 6.25rem;
    gap: 0.625rem; } }

.portfolio_categorie__item {
  margin: 0;
  opacity: 0;
  grid-row: span 2;
  grid-column: span 2; }

.portfolio_categorie__item:nth-child(4n+2) {
  grid-row: span 2;
  grid-column: span 3; }

.portfolio_categorie__item:nth-child(4n+3) {
  grid-row: span 2;
  grid-column: span 3; }

